h1 {
    text-align: center;
}
.all {
    display: none;
    width: 15vw;
    margin-right: 5px;
    float: left;
    text-align: center;
}

.show {
    transition: font-size 0.5s;
    -webkit-transition: font-size 0.5s;
    display: block;
}
