h1 {
    text-align: center;
}
.all {
    display: block;
    width: 10vw;
    margin-right: 5px;
    float: left;
    text-align: center;
    transition: font-size 0.2s;
    -webkit-transition: font-size 0.2s;
}
